* {
	padding: 0;
	margin: 0;
    outline: none;
}

img {
	border: 0;
}

body {
	background: #fff;
	font-family: "Helvetica Neue", "Arial";
	width: 100%;
	height: 100%;
	-webkit-text-size-adjust: none;
	color: #000;
}

div {
	overflow: hidden;
}

div.subject {
	background: #000;
	width: 100%;
	clear: both;
}

div.subject p {
	color: #fff;
	display: block;
	text-align: left;
	margin: 20px 10px;
	font-size: 22px;
	font-weight: bold;
}

div.subject span {
	display: block;
	color: #999;
	font-size: 13px;
}

div.content {
	width: 100%;
	clear: both;

}

div.content p {
	display: block;
	margin: 10px;
	color: #666;
	font-size: 15px;
}

div.content ul {
	margin-left: 10px;
}